{% extends 'main.html' %} {% block content %}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container">
    <label for="">Name:</label>
    <input required type="text" name='name'> <br>
    <div class="p-1"></div>

    <label for="">Company:</label>
    <input required type="text" name="company" id="" list="companies">
    <datalist id="companies">
      <select>
        {% for company in companies %}
        <option value="{{company.name}}">{{company.name}}</option>
        {% endfor %}
      </select>
    </datalist><br>
    <div class="p-1"></div>

    <label for="">Image:</label>
    <input required type="file" name="image" id=""> <br>
    <div class="p-1"></div>

    <label class="form-label">Category:</label>
    <input required type="text" name="category" id="" list="categories">
    <datalist id="categories">
      <select>
        {% for category in categories %}
        <option value="{{category.name}}">{{category.name}}</option>
        {% endfor %}
      </select>
    </datalist><br>
    <div class="p-1"></div>

    <label for="">Quantity:</label>
    <input required type="text" name="quantity">
    <input required type="radio" name="pack_name" id="{{pack_type}}" value="{{pack_type}}">
    <label for="{{pack_type}}">{{pack_type}}</label>
    <div class="p-1"></div>

    <label for="">Price:</label>
    <input required type="text" name="price"><br>
    <div class="p-1"></div>

    <input class="btn btn-success" type="submit" value="ADD PRODUCT">
  </div>

  {{form1.name}}

</form>
{% endblock content %}