.theme1_1 {
    background-color: #498553;
}

.theme1_2 {
    background-color: #4C6A4B;
}

.theme1_3 {
    background-color: #D7EADD;
}

.theme1_4 {
    background-color: #FFFFFF;
}


.theme2_1 {
    background-color: #2D452F;
}

.theme2_2 {
    background-color: #4C6A4B;
}

.theme2_3 {
    background-color: #6B9D4A;
}

.theme2_4 {
    background-color: #CFE2CE;
}



.theme3_1{
    background-color: #13542D;
}
.theme3_2 {
    background-color: #C3CF0A;
}
.theme3_3 {
    background-color: #E7EEE8;
}
.theme3_4 {
    background-color: #FFFFFF;
}



.theme4_1 {
    background-color: #1C1C1A;
}

.theme4_2 {
    background-color: #8AD167;
}

.theme4_3 {
    background-color: #DFDE9F;
}

.theme4_4 {
    background-color: #FFFFFF;
}