<section class="inner-section about-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>our team members</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="team-slider slider-arrow">
                    <li>
                        <figure class="team-media"><img src="images/team/01.jpg" alt="team">
                            <div class="team-overlay"><a href="#" class="icofont-facebook facebook"></a><a href="#"
                                    class="icofont-twitter twitter"></a><a href="#"
                                    class="icofont-linkedin linkedin"></a></div>
                        </figure>
                        <div class="team-meta">
                            <h5><a href="#">Jhonson Hononr</a></h5>
                            <p>Founder & CEO</p>
                        </div>
                    </li>
                    <li>
                        <figure class="team-media"><img src="images/team/02.jpg" alt="team">
                            <div class="team-overlay"><a href="#" class="icofont-facebook facebook"></a><a href="#"
                                    class="icofont-twitter twitter"></a><a href="#"
                                    class="icofont-linkedin linkedin"></a></div>
                        </figure>
                        <div class="team-meta">
                            <h5><a href="#">Jhonson Hononr</a></h5>
                            <p>Web developer</p>
                        </div>
                    </li>
                    <li>
                        <figure class="team-media"><img src="images/team/03.jpg" alt="team">
                            <div class="team-overlay"><a href="#" class="icofont-facebook facebook"></a><a href="#"
                                    class="icofont-twitter twitter"></a><a href="#"
                                    class="icofont-linkedin linkedin"></a></div>
                        </figure>
                        <div class="team-meta">
                            <h5><a href="#">Jhonson Hononr</a></h5>
                            <p>graphics designer</p>
                        </div>
                    </li>
                    <li>
                        <figure class="team-media"><img src="images/team/04.jpg" alt="team">
                            <div class="team-overlay"><a href="#" class="icofont-facebook facebook"></a><a href="#"
                                    class="icofont-twitter twitter"></a><a href="#"
                                    class="icofont-linkedin linkedin"></a></div>
                        </figure>
                        <div class="team-meta">
                            <h5><a href="#">Jhonson Hononr</a></h5>
                            <p>digital marketer</p>
                        </div>
                    </li>
                    <li>
                        <figure class="team-media"><img src="images/team/05.jpg" alt="team">
                            <div class="team-overlay"><a href="#" class="icofont-facebook facebook"></a><a href="#"
                                    class="icofont-twitter twitter"></a><a href="#"
                                    class="icofont-linkedin linkedin"></a></div>
                        </figure>
                        <div class="team-meta">
                            <h5><a href="#">Jhonson Hononr</a></h5>
                            <p>article writer</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>