<section class="about-choose">
    <div class="container">
        <div class="row">
            <div class="col-11 col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="section-heading">
                    <h2>Why People Choose Their Daily Organic Life With Us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-fruits"></i></div>
                    <div class="choose-text">
                        <h4>100% fresh organic food</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing tempora pariatur provident animi error
                            dignissimo cumque minus facere dolores cupiditate debitis</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-vehicle-delivery-van"></i></div>
                    <div class="choose-text">
                        <h4>Delivery within one hour</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing tempora pariatur provident animi error
                            dignissimo cumque minus facere dolores cupiditate debitis</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-loop"></i></div>
                    <div class="choose-text">
                        <h4>quickly return policy</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing tempora pariatur provident animi error
                            dignissimo cumque minus facere dolores cupiditate debitis</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>instant support team</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing tempora pariatur provident animi error
                            dignissimo cumque minus facere dolores cupiditate debitis</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>