<section class="section countdown-part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto">
                <div class="countdown-content">
                    <h3>special discount offer for vegetable items</h3>
                    <p>Reprehenderit sed quod autem molestiae aut modi minus veritatis iste dolorum suscipit quis
                        voluptatum fugiat mollitia quia minima</p>
                    <div class="countdown countdown-clock" data-countdown="2022/12/22"><span
                            class="countdown-time"><span>00</span><small>days</small></span><span
                            class="countdown-time"><span>00</span><small>hours</small></span><span
                            class="countdown-time"><span>00</span><small>minutes</small></span><span
                            class="countdown-time"><span>00</span><small>seconds</small></span></div><a
                        href="shop-4column.html" class="btn btn-inline"><i class="fas fa-shopping-basket"></i><span>shop
                            now</span></a>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <div class="countdown-img"><img src="images/countdown.png" alt="countdown">
                    <div class="countdown-off"><span>20%</span><span>off</span></div>
                </div>
            </div>
        </div>
    </div>
</section>