<section class="inner-section about-testimonial">
    <div class="container">
        <ul class="testi-slider slider-arrow">
            <li>
                <div class="testi-content"><a class="testi-img" href="#"><img src="images/testimonial/01.jpg"
                            alt="testimonial"></a>
                    <div class="testi-quote"><i class="icofont-quote-left"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit neque earum sapiente vitae
                            obcaecati magnam doloribus magni provident ab ipsam sint dolores repellat inventore
                            sequi temporibus natus.</p>
                        <h4>tahmina labonno</h4>
                        <h6>Former MD - joomtech.com</h6>
                    </div>
                </div>
            </li>
            <li>
                <div class="testi-content"><a class="testi-img" href="#"><img src="images/testimonial/02.jpg"
                            alt="testimonial"></a>
                    <div class="testi-quote"><i class="icofont-quote-left"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit neque earum sapiente vitae
                            obcaecati magnam doloribus magni provident ab ipsam sint dolores repellat inventore
                            sequi temporibus natus.</p>
                        <h4>miron mahmud</h4>
                        <h6>Senior Accountant - farmfresh.com</h6>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>