<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="template" content="greeny">
    <meta name="title" content="greeny - E-commerce Food Store HTML Template">
    <meta name="keywords"
        content="organic, food, shop, e-commerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online">
    <title>Index Home - Greeny</title>
    <link rel="icon" href="static/images/favicon.png">
    <link rel="stylesheet" href="static/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="static/fonts/icofont/icofont.min.css">
    <link rel="stylesheet" href="static/fonts/fontawesome/fontawesome.min.css">
    <link rel="stylesheet" href="static/vendor/venobox/venobox.min.css">
    <link rel="stylesheet" href="static/vendor/slickslider/slick.min.css">
    <link rel="stylesheet" href="static/vendor/niceselect/nice-select.min.css">
    <link rel="stylesheet" href="static/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/index.css">
</head>

<body>
    {% include 'components/navbar.html' %}
    <div class="backdrop"></div><a class="backtop fas fa-arrow-up" href="#"></a>
    {% block content %}

    {% endblock content %}

    <script src="static/vendor/bootstrap/jquery-1.12.4.min.js"></script>
    <script src="static/vendor/bootstrap/popper.min.js"></script>
    <script src="static/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="static/vendor/countdown/countdown.min.js"></script>
    <script src="static/vendor/niceselect/nice-select.min.js"></script>
    <script src="static/vendor/slickslider/slick.min.js"></script>
    <script src="static/vendor/venobox/venobox.min.js"></script>
    <script src="static/js/nice-select.js"></script>
    <script src="static/js/countdown.js"></script>
    <script src="static/js/accordion.js"></script>
    <script src="static/js/venobox.js"></script>
    <script src="static/js/slick.js"></script>
    <script src="static/js/main.js"></script>

</body>
</html>