<section class="section blog-part">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Read our articles</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-slider slider-arrow">
                    <div class="blog-card">
                        <div class="blog-media"><a class="blog-img" href="#"><img src="static/images/blog/01.jpg"
                                    alt="blog"></a></div>
                        <div class="blog-content">
                            <ul class="blog-meta">
                                <li><i class="fas fa-user"></i><span>admin</span></li>
                                <li><i class="fas fa-calendar-alt"></i><span>february 02, 2021</span></li>
                            </ul>
                            <h4 class="blog-title"><a href="blog-details.html">Voluptate blanditiis provident Lorem
                                    ipsum dolor sit amet</a></h4>
                            <p class="blog-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias
                                autem recusandae deleniti nam dignissimos sequi ... </p><a class="blog-btn"
                                href="#"><span>read more</span><i class="icofont-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-card">
                        <div class="blog-media"><a class="blog-img" href="#"><img src="static/images/blog/02.jpg"
                                    alt="blog"></a></div>
                        <div class="blog-content">
                            <ul class="blog-meta">
                                <li><i class="fas fa-user"></i><span>admin</span></li>
                                <li><i class="fas fa-calendar-alt"></i><span>february 02, 2021</span></li>
                            </ul>
                            <h4 class="blog-title"><a href="blog-details.html">Voluptate blanditiis provident Lorem
                                    ipsum dolor sit amet</a></h4>
                            <p class="blog-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias
                                autem recusandae deleniti nam dignissimos sequi ... </p><a class="blog-btn"
                                href="#"><span>read more</span><i class="icofont-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-card">
                        <div class="blog-media"><a class="blog-img" href="#"><img src="static/images/blog/03.jpg"
                                    alt="blog"></a></div>
                        <div class="blog-content">
                            <ul class="blog-meta">
                                <li><i class="fas fa-user"></i><span>admin</span></li>
                                <li><i class="fas fa-calendar-alt"></i><span>february 02, 2021</span></li>
                            </ul>
                            <h4 class="blog-title"><a href="blog-details.html">Voluptate blanditiis provident Lorem
                                    ipsum dolor sit amet</a></h4>
                            <p class="blog-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias
                                autem recusandae deleniti nam dignissimos sequi ... </p><a class="blog-btn"
                                href="#"><span>read more</span><i class="icofont-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-card">
                        <div class="blog-media"><a class="blog-img" href="#"><img src="static/images/blog/04.jpg"
                                    alt="blog"></a></div>
                        <div class="blog-content">
                            <ul class="blog-meta">
                                <li><i class="fas fa-user"></i><span>admin</span></li>
                                <li><i class="fas fa-calendar-alt"></i><span>february 02, 2021</span></li>
                            </ul>
                            <h4 class="blog-title"><a href="blog-details.html">Voluptate blanditiis provident Lorem
                                    ipsum dolor sit amet</a></h4>
                            <p class="blog-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias
                                autem recusandae deleniti nam dignissimos sequi ... </p><a class="blog-btn"
                                href="#"><span>read more</span><i class="icofont-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="section-btn-25"><a href="blog-grid.html" class="btn btn-outline"><i
                            class="fas fa-eye"></i><span>view all blog</span></a></div>
            </div>
        </div>
    </div>
</section>